.blue {
    background: #17a2b8;
}

.table th, .text-wrap table th, .table td, .text-wrap table td {
    padding: 0.25rem;
    vertical-align: middle;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
}

.dynatable-search-custom {
    /* display: block;
    width: 100%; */
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 5px;
}

.dynatable-per-page-select {
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 5px;
}

.dynatable-active-page {
    background: #17a2b8;
    border-radius: 2px;
    color: #fff;
}

.dynatable-page-link, .dynatable-page-break {
    display: block;
    padding: 3px 7px;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}