/* .btn-sm {
    font-size: 0.75rem;
    min-width: 1.625rem;
    margin-bottom: 0.25rem;
    width: 100%;
} */

@media (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1336px;
    }
}

@media (min-width: 1340px) {
    .container {
        max-width: 2600px;
    }
}